body{
    background-color: #2B2B2B;
}
#frase a{
    color: #FFF;
    font-size: 20px;
    margin-left: 10%;
    flex-direction: column;
}
#log{
    margin-left: 10%;
    position: absolute;
    margin-left: 30%;
}
#linha1 {
    width: 100%;
    margin-top: 2%;
    border-bottom: 1px solid #FFF;
  }

  #receita {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 10%;
  }

  #logo{
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 10px;
  }
  .texto{
      position: absolute;
      color: #FFF;
      margin-left: 70px;
      top: 150px;
      height: 10px;
  }
 
  #logo2{
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 10px;
  }
  .texto2{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    top: 290px;
    height: 10px;
}

  #logo3{
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 10px;
  }

  .texto3{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    top: 420px;
    height: 10px;
}